<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <title>Users</title>
    </head>
    <body>
        <h1>Users</h1>
        <a href="/gangs">Gangs</a>

        <div class="div_new">
            <h2>New User</h2>
            <form action="/users/fun_create_new" method="POST">
                <label for="name">name</label>
                <input type="text" name="name" />
                <label for="email">email</label>
                <input type="text" name="email" />
                <label for="password">password</label>
                <input type="password" name="password" />

                <input
                    class="r"
                    type="submit"
                    name="create_user"
                    id="create_user"
                    value="Create User"
                />
            </form>
        </div>
        <div class="div_show">
            <h2>Users</h2>
            <p>----------</p>
            {% for user in all_users %}
            <p>{{user.name}} | {{user.email}} | {{user.password}}</p>
            <p>----------</p>
            {% endfor %}
        </div>
    </body>
</html>
