<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <title>Login Project</title>
        <title>Document</title>
    </head>
    <body>
        <h1>Users</h1>
        <a href="/groups">Groups</a>

        <div class="div_new">
            <h2>New User</h2>
            <form action="/users/fun_create_new" method="POST">
                <label for="user_name">name</label>
                <input type="text" name="user_name">
                <label for="email">email</label>
                <input type="text" name="email">
                <label for="password">password</label>
                <input type="password" name="password">

            </form>
        </div>
        <div class="div_show">
            <h2>Users</h2>
            <form action="/users/fun_show_all"></form>
        </div>
    </body>
</html>
